#drawingPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
#pixels {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.flex-container {
    display: flex;
    //align-items: center;
    justify-content: center;
}

.flex-child {
    flex: 1;
    border: 1px solid rgb(10, 4, 65);
    align-items: center;
    justify-content: center;
    margin: 0.75rem
}  

.flex-child:first-child {
    margin-right: 20px;
    align-items: center;
    justify-content: center;
} 